.modernCard {
  background-color: transparent;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: box-shadow 0.3s ease-in-out; /* Transición suave para la sombra */
  margin: 6%; /* Margen exterior */
  margin-top: 2%;
  
  color: rgb(10, 10, 10); /* Color de texto blanco por defecto */
}

.modernCard:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.modernCard .card-header {
  background-color: transparent;
  border: none;
  color: inherit; /* Hereda el color de texto del elemento padre */
}

.modernCard .card-body {
  padding: 20px; /* Espaciado interno */
}

.modernCard .btn {
  background-color: #008e15;; /* Color de fondo */
  border-color: #343a40; /* Color del borde */
  color: white; /* Color de texto blanco */
}

.modernCard .btn:hover {
  background-color: #008e15;; /* Color de fondo al pasar el ratón */
  border-color: #212529; /* Color del borde al pasar el ratón */
  color: rgb(255, 255, 255); /* Cambia el color de texto a negro al pasar el ratón */
}
