body, html {
  
  margin: 0;
  padding: 0;
  height: 100%;
}

.Home {
  text-align: center;
  padding: 40px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TituloHome h1 {
  font-size: 2.5em;
  color: #343a40;
}

.bloquesDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Bloque1,
.Bloque2 {
  width: 85%;
  margin: 20px;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Imagen1 {
  width: 25vh;
  border-radius: 8px;
}

.Mensaje1{
  margin-top: 2px;
  font-size: 1.2em;
  color: #6c757d;
  line-height: 1.5;
  text-align:justify;
}


.Mensaje3 {
  font-size: 1em;
  color: #6c757d;
  line-height: 1.5;
  text-align:center
}


/* Reglas de medios para pantallas más pequeñas */
@media (max-width: 768px) {
  .Bloque1, .Bloque2 {
    width: 100%;
  }
}
