  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #343a40;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2em;
  }
  
  .card-body {
    text-align: left;
    border: #343a40;
  }
  
  
  .custom-input {
    width: 100%;
    padding: 120px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1.2rem;
 
  }
  
 