.appointment-card {
    background-color: transparent;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out; 
    margin-bottom: 20px;
    color: rgb(5, 5, 5); 
  }
  
  .appointment-card:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 
  }
  
  .appointment-card .card-title {
    color: inherit; 
  }
  
  .appointment-card .card-body {
    padding: 20px; 
  }
  
  .appointment-card .form-control {
    background-color: rgba(0, 128, 0, 0.1); 
    color: rgb(10, 10, 10); 
    border-color: rgba(0, 128, 0, 0.5); 
  }
  
  .appointment-card .form-control:focus {
    background-color: rgba(0, 128, 0, 0.2); 
  }
  
  .appointment-card .btn {
    background-color: #008e15; 
    border-color: #008e15; 
    color: white; 

  }
  
  .appointment-card .cancel-btn {
    margin-left: auto; 
    background-color: rgb(251, 2, 2);
    border-color: red; 
    color: white; 
    margin-left: 4%;
  }
  
  .appointment-card .cancel-btn:hover {
    background-color: darkred; 
    border-color: darkred; 
  }
  
  .appointment-card .btn:hover {
    background-color: #849687; 
    border-color: #849687; 
  }
  