.navbar {
    background-color: transparent; 
    border-bottom: none;
    box-shadow: none; 
  }
  
  .navbar-nav .nav-link {
    color:#050505;
    font-size: 1.3rem;
    text-align: center;
  }
 
  
  .navbar-nav .nav-link:hover {
    color: #008e15; 
  }
  
  .navbar-brand {
    color: #008e15; 
    font-weight: bold; 
    font-size: 1.8rem;
  }
  
  .navbar-toggler-icon {
    background-color: #bfd1c1; 
  }
  
  .navbar-toggler {
    border: none; 
  }
  
  .nav-link.disabled {
    color: rgba(97, 97, 97, 0.5); 
  }
  
  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .dropdown-divider {
    background-color: #fff;
  }
  
  .dropdown-item {
    color: #000;
  }
  
  .dropdown-item:hover {
    background-color: #008e15;
  }
  
