.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media (max-width: 768px) {
  .title-container {
    height: auto; /* Ajustar la altura automáticamente en dispositivos móviles */
    padding: 20px; /* Agregar un poco de espacio alrededor del texto en dispositivos móviles */
  }
}
.nutritionist-card {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .card-content {
    display: flex;
    align-items: center;
    padding: 20px; 
  }
  
  .avatar {
    margin-right: 20px;
  }
  
  .nutritionist-info {
    flex-grow: 1;
  }
  
  .nutritionist-name {
    font-weight: bold;
    font-size: 1.6em;
  }
  
